


<!--过敏史-->
<style type="text/css">
    .allergy .page__hd{
        padding:0;
    }
    .allergy .weui-btn_primary{
        font-size:1.1rem;
        margin-right:0.5rem;
        margin-top:0.7rem;
        color:#000;
        background: #fff;
        padding-left:0.7rem;
        padding-right:0.7rem;
    }
    .allergy .weui-btn_primary:after{
        border:0;
    }
    .allergy .button-sp-area{
        line-height:1rem;
    }
    .allergy .weui-cells{
        background:#f8f5ee;
    }
    .allergy .weui-cell_last-other:before{
        left:0;
        right:0;
    }
    .allergy label{
        width:50px;
    }
    .allergy .weui-cells_form{
        padding-top:0;
    }
    .allergy .page__ft .weui-btn_primary{
        background: #E9A22C;
        color:#fff;
    }
</style>
<div class="page allergy">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="button-sp-area">
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">青霉素</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">链霉素</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">磺胺类</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">头孢类</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">鸡蛋</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">牛奶</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">酒精</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">海鲜</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">花粉</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">尘螨</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">粉尘</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">洗洁剂</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">化妆品</a>
        </div>
        <div class="weui-cells weui-cell__add">
            <div class="weui-cell weui-cells_form">
                <form name="" method="" action="">
                    <div class="weui-cell__hd"><label class="weui-label">其他</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text"  placeholder=""/>
                    </div>
                </form>
            </div>
            <div class="weui-cell weui-cell_last weui-cell_last-other">

            </div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:;" class="weui-btn weui-btn_primary">提交</a>
    </div>
</div>