


<!--已有过敏史-->

<style type="text/css">
    .allergy-history .page__title{
        font-size:1rem;
    }
    .allergy-history .page__bd{
        padding-top:0;
    }
    .allergy-history .page__bd .weui-media-box__title{
        font-size:0.8rem;
        color:#555;
    }
    .allergy-history .page__bd .weui-btn_mini{
        font-size:1rem;
        color:#E9A22C;
        background:#fff;
        line-height:1.5rem;
        margin-top:0;
        padding-left: 0.3rem;
        padding-right:0.3rem;
    }
    .allergy-history .page__bd .weui-btn_mini:after{
        border:0;
        width:0;
        height:0;
    }
</style>
<div class="page allergy-history">
    <div class="page__hd">
        <h1 class="page__title">您目前或曾经对哪些物质过敏？</h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">过敏物质</h4>
                    <p class="weui-media-box__desc">
                        <div class="button-sp-area">
                            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">花粉</a>
                            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">蜂蜜</a>
                            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">杨絮</a>
                            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">医用胶布</a>
                            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">阿奇霉素</a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="page__ft">
    </div>
</div>