
<!--预约时间-->
<style type="text/css">
    .appiont-time a{
        text-align: center;
    }
    .appiont-time .weui-btn_primary{
        border:0;
        background:#fff;
        out-line:none;
    }
    .appiont-time .page__hd .weui-grid__label{
        border:0;
    }
</style>
<div class="page appiont-time">
    <header class="page__hd weui-grids">
        <a href="javascript:;" class="weui-grid">
            <p>今天</p>
            <p class="weui-grid__label">12月15号</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <p>明天</p>
            <p class="weui-grid__label">12月16号</p>
        </a>
        <a href="javascript:;" class="weui-grid">
            <p>周一</p>
            <p class="weui-grid__label">12月17号</p>
        </a>
    </header>
    <section class="page__bd">
        <div class="weui-grids">
            <a href="javascript:;" class="weui-grid">
                <p>10:00-12:00</p>
                <p class="weui-grid__label"><button class="weui-btn_primary">已约满</button></p>
            </a>
            <a href="javascript:;" class="weui-grid">
                <p>10:00-12:00</p>
                <p class="weui-grid__label"><button class="weui-btn_primary">预约</button></p>
            </a>
            <a href="javascript:;" class="weui-grid">
                <p>10:00-12:00</p>
                <p class="weui-grid__label"><button class="weui-btn_primary">预约</button></p>
            </a>
            <a href="javascript:;" class="weui-grid">
                <p>10:00-12:00</p>
                <p class="weui-grid__label"><button class="weui-btn_primary">预约</button></p>
            </a>
            <a href="javascript:;" class="weui-grid">
                <p>10:00-12:00</p>
                <p class="weui-grid__label"><button class="weui-btn_primary">预约</button></p>
            </a>
            <a href="javascript:;" class="weui-grid">
                <p>10:00-12:00</p>
                <p class="weui-grid__label"><button class="weui-btn_primary">预约</button></p>
            </a>
            <a href="javascript:;" class="weui-grid">
                <p>10:00-12:00</p>
                <p class="weui-grid__label"><button class="weui-btn_primary">预约</button></p>
            </a>
            <a href="javascript:;" class="weui-grid">
                <p>10:00-12:00</p>
                <p class="weui-grid__label"><button class="weui-btn_primary">预约</button></p>
            </a>
            <a href="javascript:;" class="weui-grid">
                <p>10:00-12:00</p>
                <p class="weui-grid__label"><button class="weui-btn_primary">预约</button></p>
            </a>
            <a href="javascript:;" class="weui-grid">
                <p>10:00-12:00</p>
                <p class="weui-grid__label"><button class="weui-btn_primary">预约</button></p>
            </a>
            <a href="javascript:;" class="weui-grid">
                <p>10:00-12:00</p>
                <p class="weui-grid__label"><button class="weui-btn_primary">预约</button></p>
            </a>
            <a href="javascript:;" class="weui-grid">
                <p>10:00-12:00</p>
                <p class="weui-grid__label"><button class="weui-btn_primary">预约</button></p>
            </a>

        </div>
    </section>
    <footer class="page__ft">
    </footer>
</div>