<!--提交审核信息-->
<style type="text/css">
    .page{
        background: #f8f5ee;
    }
    .page__bd{
        background:#fff;
        padding:0.5rem;
    }
    .page__bd p{
        font-size:1rem;
        letter-spacing: 0.1rem;
    }
    .tips{
        text-align: right;
        line-height:2rem;
    }
</style>
<div class="page">
    <header class="page__hd">
        <h3 class="page__title">名称</h3>
    </header>
    <section class="page__bd">
        <div class="weui-media-box weui-media-box_text">
            <p class="weui-media-box__desc"> 您的糖尿病免费健康筛查预约申请已提交！审核通过后将以短信形式下发至您预约申请的手机号中。持该号码即可在公众号注册您的个人账号激活您的糖尿病免费筛查预防服务</p>
            <p class="weui-media-box__desc tips">重庆市两江新区人民政府</p>
        </div>
    </section>
    <footer class="page__ft">
        <button class="weui-btn weui-btn_primary" type="button">确定</button>
    </footer>
</div>




