<!--提交审核信息-->
<style type="text/css">

    .check-info .page__bd{
        margin:0.5rem;
    }
    .check-info .weui-media-box_text{
        background:#fff;
        box-sizing: border-box;
        padding:0.7rem;
        color:#555;
    }
    .check-info .page__bd p{
        font-size:1.1rem;
        letter-spacing: 0.1rem;
    }
    .check-info .tips{
        text-align: right;
        line-height:3rem;
        height:2rem;
        color:#000;

    }
</style>
<div class="page check-info">
    <header class="page__hd">
        <h3 class="page__title">名称</h3>
    </header>
    <section class="page__bd">
        <div class=" weui-media-box_text">
            <p class=""> 您的糖尿病免费健康筛查预约申请已提交！审核通过后将以短信形式下发至您预约申请的手机号中。持该号码即可在公众号注册您的个人账号激活您的糖尿病免费筛查预防服务</p>
            <p class=" tips">重庆市两江新区人民政府</p>
        </div>
        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary" type="button">确定</button>
        </div>
    </section>
    <footer class="page__ft">

    </footer>
</div>




