

<!--眼项检测列表-->
<style type="text/css">
    .eye-testingList .page__hd{
        padding:0;
    }
    .eye-testingList .weui-select{
        font-size:0.9rem;
        padding: 0 1rem;
        text-align: right;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .eye-testingList .weui-label{
        width:105px;
        color:#000;
    }
    .eye-testingList .weui-cell{
        padding-top:1.5rem;
        padding-bottom:1.5rem;
    }
    .eye-testingList .weui-cells{
        margin-top:0.7rem;
    }
</style>

<div class="page eye-testingList">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd page__bd_spacing">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">2017-10-15</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="weui-select" name="select2">
                        查看报告
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">2017-07-15</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="weui-select" name="select2">
                        查看报告
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">2017-06-15</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="weui-select" name="select2">
                        查看报告
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">2017-04-15</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="weui-select" name="select2">
                        查看报告
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">2017-02-15</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="weui-select" name="select2">
                        查看报告
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">2017-01-15</label>
                </div>
                <div class="weui-cell__bd">
                    <div class="weui-select" name="select2">
                        查看报告
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page__ft">
    </div>
</div>