

<!--家族有疾病史-->

<div class="page">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">与患者关系</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="0"></option>
                        <option value="1">父母</option>
                        <option value="2">祖父母</option>
                        <option value="3">外祖父母</option>
                        <option value="4">子女</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cells_form">
                <div class="weui-cell__hd"><label class="weui-label">患者年龄</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" placeholder=""/>
                </div>
            </div>
        </div>
        <div class="button-sp-area">
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">高血压</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">脑卒中</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">心肌梗塞</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">肠道息肉</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">精神疾病</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">糖调节受损失</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">恶性肿瘤</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">结节性多动脉炎</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">腰椎间盘突出</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">尿酸升高</a>
        </div>
        <div class="weui-cells weui-cells_form ">
            <div class="weui-cell__hd"><label class="weui-label">其他</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text"  placeholder=""/>
            </div>
        </div>

    </div>
    <div class="page__ft">
        <a href="javascript:;" class="weui-btn weui-btn_warn">删除</a>
        <a href="javascript:;" class="weui-btn weui-btn_primary">提交</a>
    </div>
</div>