

<!--家族有疾病史-->
<style type="text/css">
    .family-hasdisease{
        line-height:1rem;
    }
    .family-hasdisease .page__hd{
        padding:0;
    }
    .family-hasdisease .weui-cell_last{
        padding-bottom: 0;
    }
    .family-hasdisease .weui-cell__add{
        background:#f8f5ee;
    }
    .family-hasdisease .weui-cell__add label{
        width:50px;
    }
    .family-hasdisease .weui-cells_form{
        padding-top:0.5rem;
    }
    .family-hasdisease .weui-btn_mini{
        font-size:1rem;
        color:#000;
        background:#fff;
        padding-left:0.4rem;
        padding-right:0.4rem;
        margin-right:0.4rem;
    }
    .family-hasdisease .weui-cell_last-other:before{
        left:0;
        right:0;
    }
    .family-hasdisease label{
        width:105px;
    }
</style>
<div class="page family-hasdisease">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">与患者关系</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="0"></option>
                        <option value="1">父亲</option>
                        <option value="2">母亲</option>
                        <option value="3">兄弟</option>
                        <option value="4">姐妹</option>
                        <option value="4">儿子</option>
                        <option value="4">女儿</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cells_form">
                <form name="" method="" action="">
                    <div class="weui-cell__hd"><label class="weui-label">患者年龄</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text"  placeholder=""/>
                    </div>
                </form>
            </div>
            <div class="weui-cell weui-cell_last">

            </div>
        </div>
        <div class="button-sp-area">
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">高血压</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">脑卒中</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">心肌梗塞</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">肠道息肉</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">精神疾病</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">糖调节受损失</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">恶性肿瘤</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">结节性多动脉炎</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">腰椎间盘突出</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">尿酸升高</a>
        </div>
        <div class="weui-cells weui-cell__add">
            <div class="weui-cell weui-cells_form">
                <form name="" method="" action="">
                    <div class="weui-cell__hd"><label class="weui-label">其他</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text"  placeholder=""/>
                    </div>
                </form>
            </div>
            <div class="weui-cell weui-cell_last weui-cell_last-other">
            </div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:;" class="weui-btn weui-btn_primary">提交</a>
    </div>
</div>