

<!--家族疾病史-->


<style type="text/css">
    .family-disease page__hd{
        position: relative;
    }
    .family-disease .weui-btn_mini{
        font-size: 1rem;
        position:absolute;
        top:1rem;
        right:0.7rem;
    }
    .family-disease .tips{
        font-size:0.8rem;
        color:#555;
    }
</style>
<div class="page family-disease">
    <div class="page__hd">
        <p>您的直系亲属目前或曾经有哪些疾病？</p>
        <p class="tips">直系亲属包括：父母、兄妹、子女</p>
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">无</a>

    </div>
    <div class="page__bd">
            <a href="javascript:;" class="weui-btn weui-btn_primary"><i class="weui-icon-cancel"></i>添加</a>
    </div>
    <div class="page__ft">

    </div>
</div>



