

<!--家族疾病史已填写-->


<style type="text/css">
    page__hd{
        position: relative;
    }
    .weui-btn_mini{
        position:absolute;
        top:2.6rem;
        right:1rem;
    }
    .tips{
        font-size:0.8rem;
        color:#555;
    }
</style>
<div class="page">
    <header class="page__hd">
        <p>您的直系亲属目前或曾经有哪些疾病？</p>
        <p class="tips">直系亲属包括：父母、兄妹、子女</p>

    </header>
    <section class="page__bd">
            <div class="weui-form-preview">
                <div class="weui-form-preview__hd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">父母<i>(与患者关系)</i></label>
                        <em class="weui-form-preview__value">58岁（患病年纪）</em>
                    </div>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">所患疾病</i></label>
                        <span class="weui-form-preview__value">
                            <i>高血脂</i>
                            <i>骨质酥松</i>
                            <i>痛风</i>
                            <i>高血压</i>
                            <i>糖调节受损失</i>
                            <i>慢性肝炎或肝硬化</i>
                        </span>
                    </div>
                </div>

            </div>
            <br>
            <div class="weui-form-preview">
                <div class="weui-form-preview__hd">
                    <label class="weui-form-preview__label">父母<i>(与患者关系)</i></label>
                    <em class="weui-form-preview__value">58岁（患病年纪）</em>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">所患疾病</label>
                        <div class="weui-form-preview__value">
                            <i>高血脂</i>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <footer class="page__ft">
        <article class="weui-article">
            <a href="javascript:;" class="weui-btn weui-btn_primary"><i class="weui-icon-cancel"></i>添加</a>

        </article>
    </footer>
</div>



