

<!--基因检测报告-->
<style type="text/css">
    .gene-testingReport .page__hd{
        padding:0;
    }
    .gene-testingReport .page__bd .weui-cell__check{
        font-size:0.9rem;
        color:#E9A22C;
    }
    .gene-testingReport .page__bd .weui-cell{
        padding-top:1rem;
        padding-bottom:1rem;
    }
    .gene-testingReport .page__bd .weui-cell__bd{
        padding-left:0.7rem;
    }
</style>
<div class="page gene-testingReport">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__hd">
                    <p>糖尿病药物敏感性基因检测 </p>
                </div>
                <div class="weui-cell__bd">
                    <p> 报告</p>
                </div>
                <div class="weui-cell__hd weui-cell__check">
                    <p>查看</p>
                </div>
            </a>
        </div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__hd">
                    <p>糖尿病线粒体突变基因检测 </p>
                </div>
                <div class="weui-cell__bd">
                    <p> 报告</p>
                </div>
                <div class="weui-cell__hd weui-cell__check">
                    <p>查看</p>
                </div>
            </a>
        </div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__hd">
                    <p>糖尿病并发症基因检测 </p>
                </div>
                <div class="weui-cell__bd">
                    <p> 报告</p>
                </div>
                <div class="weui-cell__hd weui-cell__check">
                    <p>查看</p>
                </div>
            </a>
        </div>
    </div>
    <div class="page__ft">

    </div>
</div>