

<!--基因检测报告-->

<div class="page">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__hd">
                    <p>糖尿病药物敏感性基因检测 </p>
                </div>
                <div class="weui-cell__bd">
                    <p> 报告</p>
                </div>
                <div class="weui-cell__hd">
                    <p>查看</p>
                </div>
            </a>
        </div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__hd">
                    <p>糖尿病线粒体突变基因检测 </p>
                </div>
                <div class="weui-cell__bd">
                    <p> 报告</p>
                </div>
                <div class="weui-cell__hd">
                    <p>查看</p>
                </div>
            </a>
        </div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__hd">
                    <p>糖尿病并发症基因检测 </p>
                </div>
                <div class="weui-cell__bd">
                    <p> 报告</p>
                </div>
                <div class="weui-cell__hd">
                    <p>查看</p>
                </div>
            </a>
        </div>
    </div>
    <div class="page__ft">

    </div>
</div>