
<!--重庆市两江新区糖尿病健康管理-->

<style type="text/css">
    .weui-media-box__desc{
        color: #6baae8;
    }
    .page{
        background:#f8f5ee;
    }
    .weui-panel{
        background:#f8f5ee;
    }
</style>
<div class="page gallery js_show">
    <header class="page__hd">
        <h3 class="page__title">轮播图效果</h3>
    </header>
    <section class="page__bd">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>风险提示</p>
                    <p style="font-size: 13px;color: #888888;">糖尿病前期</p>
                </div>
                <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                    <img src="images/pic_160.png" style="width: 50px;display: block"/>
                    <p class="" >名字</p>
                </div>
            </div>
        </div>
        <div class="weui-cell weui-cell_access">
            <p>糖尿病筛查预防项目指引</p>
        </div>
            <div class="page__bd">
                <div class="weui-panel weui-panel_access">
                    <div class="weui-panel__bd">
                        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                            <div class="weui-media-box__hd">
                                1
                            </div>
                            <div class="weui-media-box__bd">
                                <h4 class="weui-media-box__title">信息调查</h4>
                                <p class="weui-media-box__desc">请完善</p>
                            </div>
                        </a>
                        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                            <div class="weui-media-box__hd">
                                2
                            </div>
                            <div class="weui-media-box__bd">
                                <h4 class="weui-media-box__title">体格检测、眼项检测</h4>
                                <p class="weui-media-box__desc">预约</p>
                            </div>
                        </a>
                        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                            <div class="weui-media-box__hd">
                                3
                            </div>
                            <div class="weui-media-box__bd">
                                <h4 class="weui-media-box__title">等待基础筛查结果</h4>
                                <p class="weui-media-box__desc"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </section>
    <footer class="page__ft">
        <p>咨询电话：400-12345678</p>
    </footer>
</div>