

<!--信息调查-->


<div class="page info-check">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>基本信息</p>
                </div>
                <div class="weui-cell__ft">未填写</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>生活信息</p>
                </div>
                <div class="weui-cell__ft">未填写</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>体质辨识</p>
                </div>
                <div class="weui-cell__ft">未填写</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>家族病史</p>
                </div>
                <div class="weui-cell__ft">未填写</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>既往病史</p>
                </div>
                <div class="weui-cell__ft">未填写</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>过敏史</p>
                </div>
                <div class="weui-cell__ft">未填写</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>用药史</p>
                </div>
                <div class="weui-cell__ft">未填写</div>
            </a>
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>手术史</p>
                </div>
                <div class="weui-cell__ft">未填写</div>
            </a>
            <a class="weui-cell weui-cell_access weui-cell_last" href="javascript:;">

            </a>
        </div>
    </div>
    <div class="page__ft">

    </div>
</div>