
<!--用药史-->


<div class="page">
    <header class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </header>
    <section class="page__bd">
        <div class="button-sp-area">
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">降压药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">降糖药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">降脂药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">降尿酸药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">缓解哮喘药物</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">解热镇痛类药物</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">强的松类药物</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">雌激素类药物</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">利尿剂</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">镇静剂</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">中草药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">避孕药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">抗心律失常药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">抗精神病药物</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">抗抑郁药物</a>
        </div>
        <div class="weui-cells weui-cells_form ">
            <div class="weui-cell__hd"><label class="weui-label">其他药物</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text"  placeholder=""/>
            </div>
        </div>
    </section>
    <footer class="page__ft">
        <a href="javascript:;" class="weui-btn weui-btn_warn">删除</a>
        <a href="javascript:;" class="weui-btn weui-btn_primary">提交</a>
    </footer>
</div>