


<!--已有用药史-->
<style type="text/css">
    .medicine-history .page__title{
        font-size:1rem;
    }
    .medicine-history .page__bd{
        padding-top:0;
    }
    .medicine-history .page__bd .weui-media-box__title{
        font-size:0.8rem;
        color:#555;
    }
    .medicine-history .page__bd .weui-btn_mini{
        font-size:1rem;
        color:#E9A22C;
        background:#fff;
        line-height:1.5rem;
        margin-top:0;
        padding-left: 0.3rem;
        padding-right:0.3rem;
    }
    .medicine-history .page__bd .weui-btn_mini:after{
        border:0;
        width:0;
        height:0;
    }
</style>




<div class="page medicine-history">
    <div class="page__hd">
        <h1 class="page__title">您目前或曾经使用过哪些药物？</h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">以往用药</h4>
                    <p class="weui-media-box__desc">
                    <div class="button-sp-area">
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">降压药</a>
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">雌激素类药物</a>
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">帕尔马林</a>
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">红霉素</a>
                        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">阿奇霉素</a>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="page__ft">
    </div>
</div>