
<!--全部OGTT检测-->
<style type="text/css">
    .OGTT-alltesting .page__hd{
        padding:0;
    }
    .OGTT-alltesting .page__bd .weui-cell{
        padding-top:1rem;
        padding-bottom:1rem;
    }
    .OGTT-alltesting .page__bd .weui-cells{
        margin-top:0.7rem;
    }
</style>


<div class="page OGTT-alltesting">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>创建时间：</p>
                </div>
                <div class="weui-cell__ft">2016-11-12</div>
            </a>
        </div>
        <div class="weui-cells">
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <p>创建时间：</p>
                </div>
                <div class="weui-cell__ft">2016-10-10</div>
            </a>
        </div>
    </div>
    <div class="page__ft">
    </div>
</div>