

<!--OGTT检测-->

<div class="page">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>空腹血糖：</p>
                </div>
                <div class="weui-cell__ft">5.6mmol/L</div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>服糖2小时后血糖：</p>
                </div>
                <div class="weui-cell__ft">7.1mmol/L</div>
            </div>
        </div>
        <p>如若您对体检数据有异议，请致电********咨询</p>
    </div>
    <div class="page__ft">
        <a href="javascript:home()">查看全部</a>
    </div>
</div>