

<!--OGTT检测-->
<style type="text/css">
    .OGTT-testing .page__hd{
        padding:0;
    }
    .OGTT-testing .page__bd .weui-cells{
        margin-top:0.7rem;
    }
    .OGTT-testing .page__bd .weui-cell{
        padding-top:1rem;
        padding-bottom: 0.7rem;
    }
    .OGTT-testing .page__ft p{
        text-align: right;
        color:#f47171;
    }
    .OGTT-testing .page__ft a{
        font-size:1rem;
        color:#000;
    }
</style>

<div class="page OGTT-testing">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>空腹血糖：</p>
                </div>
                <div class="weui-cell__ft">5.6mmol/L</div>
            </div>
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>服糖2小时后血糖：</p>
                </div>
                <div class="weui-cell__ft">7.1mmol/L</div>
            </div>
        </div>

    </div>
    <div class="page__ft">
        <p>如若您对体检数据有异议，请致电********咨询</p>
        <a href="javascript:home()">查看全部</a>
    </div>
</div>