

<!--手术史新建-->

<div class="page OPS">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-cells weui-cells_form">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">手术时间</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="select2">
                            <option value="1">2014</option>
                            <option value="2">2015</option>
                            <option value="3">2016</option>
                        </select>
                    </div>
                </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">疾病名称</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  placeholder=""/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">就诊医院</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  placeholder=""/>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">备注</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  placeholder=""/>
                </div>
            </div>
        </div>
        <p>手术部位</p>
        <div class="button-sp-area">
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">降压药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">降糖药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">降脂药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">降尿酸药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">缓解哮喘药物</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">解热镇痛类药物</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">强的松类药物</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">雌激素类药物</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">利尿剂</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">镇静剂</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">中草药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">避孕药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">抗心律失常药</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">抗精神病药物</a>
            <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">抗抑郁药物</a>
        </div>
        <div class="weui-cells weui-cell__add">
            <div class="weui-cell weui-cells_form">
                <div class="weui-cell__hd"><label class="weui-label">其他</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  placeholder=""/>
                </div>
            </div>
            <div class="weui-cell weui-cell_last weui-cell_last-other">
            </div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:;" class="weui-btn weui-btn_primary">提交</a>
    </div>
</div>