
<!--体格检测-->

<div class="page">
    <header class="page__hd">
        <h1 class="page__title"></h1>
    </header>
    <section class="page__bd">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell ">
                <div class="weui-cell__hd"><label class="weui-label">身高</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  placeholder=""/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell ">
                <div class="weui-cell__hd"><label class="weui-label">体重</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder=""/>
                </div>

            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">腰围</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number"  placeholder=""/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">臀围</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="numbe" placeholder=""/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">BMI</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="numbe" placeholder=""/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">体脂率</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="numbe" placeholder=""/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">收缩压</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="numbe" placeholder=""/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">舒张压</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="numbe" placeholder=""/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">空腹血糖（末梢）</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="numbe" placeholder=""/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">血氧</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="numbe" placeholder=""/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell">

            </div>
        </div>
        <div>
            <a href="###">查看全部</a>
        </div>
    </section>
    <footer class="page__ft">
        如若您对体检数据有异议，请致电*******咨询
    </footer>
</div>
