

<!--体质辨识-->
<div class="page Physical-identify">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
    </div>
    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title">指导结果</h4>
                    <p class="weui-media-box__desc">您的体质为：蒹夹体质虚弱、血瘀、阴虚</p>
                    <p class="weui-media-box__desc">您倾向于：阳虚、痰湿</p>
                </div>
            </div>
        </div>
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    此为图片
                </div>
            </div>
        </div>
    </div>
    <div class="page__ft">
        <a href="javascript:;" class="weui-btn weui-btn_primary">以往答题</a>
        <a href="javascript:;">返回信息调查>></a>
    </div>
</div>