
<!--体格检测-->

<div class="page">
    <header class="page__hd">
        <h1 class="page__title"></h1>
    </header>
    <section class="page__bd">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>身高</p>
                </div>
                <div class="weui-cell__ft">170cm</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>体重</p>
                </div>
                <div class="weui-cell__ft">51kg</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>腰围</p>
                </div>
                <div class="weui-cell__ft">70cm</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>臀围</p>
                </div>
                <div class="weui-cell__ft">88cm</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>BMI</p>
                </div>
                <div class="weui-cell__ft">19.7kg/m</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>体脂率</p>
                </div>
                <div class="weui-cell__ft">23%</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>收缩压</p>
                </div>
                <div class="weui-cell__ft">125mmHg</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>舒张压</p>
                </div>
                <div class="weui-cell__ft">58mmHg</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>空腹血糖(末梢)</p>
                </div>
                <div class="weui-cell__ft">4.8mmol/L</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>血氧</p>
                </div>
                <div class="weui-cell__ft">95%</div>
            </div>
            <div class="weui-cell">
            </div>
        </div>
        <div style="text-align: center;">
            <a href="###">查看全部</a>
        </div>
    </section>
    <footer class="page__ft">
        如若您对体检数据有异议，请致电*******咨询
    </footer>
</div>
