
<!--项目协议书-->

<style type="text/css">
    .protocal-content {
        width: 100%;
        height: 100%;
        padding:1rem;
        background:#f8f5ee;
        box-sizing: border-box;
        overflow: auto;
    }
    .protocal-con{
        min-height:80%;
        height:auto;
        background:#fff;
        padding:1rem;

    }
     .protocal-content .title{
        font-weight: 700;
        text-align: center;
        line-height:3rem;
    }
    .protocal-content p{
        color:#b8b8b8;
    }
</style>


<div class="page">

    <div class="page__bd page__bd_spacing">
        <article class="weui-article protocal-content page__bd">
            <section class="protocal-con">
                <h2 class="title">重庆市两江新区糖尿病健康管理</h2>
                <section>
                    <p>
                        第一条：甲乙双方自愿合伙经营（项目名称），总资产为1个亿，都出资出资，各占总额百分比，总资产为1个亿，都出资出资，各占总额百分比
                        各占总额百分比，总资产为1个亿，都出资出资，各占总额百分。
                    </p>
                </section>
                <section>
                    <p>
                        第二条：甲乙双方自愿合伙经营（项目名称），总资产为1个亿，都出资出资，各占总额百分比，总资产为1个亿，都出资出资，各占总额百分比
                        各占总额百分比，总资产为1个亿，都出资出资，各占总额百分。
                    </p>
                </section>
                <section>
                    <p>
                        第三条：甲乙双方自愿合伙经营（项目名称），总资产为1个亿，都出资出资，各占总额百分比，总资产为1个亿，都出资出资，各占总额百分比
                        各占总额百分比，总资产为1个亿，都出资出资，各占总额百分。
                    </p>
                </section>
            </section>
        </article>
    </div>
    <div class="page__ft">
        咨询电话：400-12345678
    </div>

</div>
