
<!--填写问卷调查-->
<style type="text/css">
    .other div{
        display:none;
    }
</style>
<div class="page">
    <header class="page__hd">
        <h1 class="page__title">根据最近三个月的体验和感觉回答</h1>
    </header>
    <section class="page__bd">
        <article class="weui-article">
            <section>
                <section class="num1">
                    <p>
                        <i>1</i>/62 用灭火器灭火时，灭火器的喷射口是应对准火焰的什么部位？
                    </p>
                    <div class="active">
                        <input type="radio" name="redio"  value="上部"/><span>上部</span>
                        <input type="radio" name="redio"  value="下部"/><span>下部</span>
                        <input type="radio" name="redio"  value="中部"/><span>中部</span>
                        <input type="radio" name="redio"  value="随便"/><span>随便</span>
                    </div>
                </section>
                <section class="other">
                    <p>
                        <i>2</i>/62 用灭火器灭火时，灭火器的喷射口是应对准火焰的什么部位？
                    </p>
                    <div>
                        <input type="radio" name="redio"  value="上部"/><span>上部</span>
                        <input type="radio" name="redio"  value="下部"/><span>下部</span>
                        <input type="radio" name="redio"  value="中部"/><span>中部</span>
                        <input type="radio" name="redio"  value="随便"/><span>随便</span>
                    </div>
                </section>
                <section class="other">
                    <p>
                        <i>3</i>/62 用灭火器灭火时，灭火器的喷射口是应对准火焰的什么部位？
                    </p>
                    <div>
                        <input type="radio" name="redio"  value="上部"/><span>上部</span>
                        <input type="radio" name="redio"  value="下部"/><span>下部</span>
                        <input type="radio" name="redio"  value="中部"/><span>中部</span>
                        <input type="radio" name="redio"  value="随便"/><span>随便</span>
                    </div>
                </section>
                <section class="other">
                    <p>
                        <i>4</i>/62 用灭火器灭火时，灭火器的喷射口是应对准火焰的什么部位？
                    </p>
                    <div>
                        <input type="radio" name="redio"  value="上部"/><span>上部</span>
                        <input type="radio" name="redio"  value="下部"/><span>下部</span>
                        <input type="radio" name="redio"  value="中部"/><span>中部</span>
                        <input type="radio" name="redio"  value="随便"/><span>随便</span>
                    </div>
                </section>
                <section class="other">
                    <p>
                        <i>5</i>/62 用灭火器灭火时，灭火器的喷射口是应对准火焰的什么部位？
                    </p>
                    <div>
                        <input type="radio" name="redio"  value="上部"/><span>上部</span>
                        <input type="radio" name="redio"  value="下部"/><span>下部</span>
                        <input type="radio" name="redio"  value="中部"/><span>中部</span>
                        <input type="radio" name="redio"  value="随便"/><span>随便</span>
                    </div>
                </section>
                <section class="other">
                    <p>
                        <i>6</i>/62 用灭火器灭火时，灭火器的喷射口是应对准火焰的什么部位？
                    </p>
                    <div>
                        <input type="radio" name="redio"  value="上部"/><span>上部</span>
                        <input type="radio" name="redio"  value="下部"/><span>下部</span>
                        <input type="radio" name="redio"  value="中部"/><span>中部</span>
                        <input type="radio" name="redio"  value="随便"/><span>随便</span>
                    </div>
                </section>
                <section class="other">
                    <p>
                        <i>7</i>/62 用灭火器灭火时，灭火器的喷射口是应对准火焰的什么部位？
                    </p>
                    <div>
                        <input type="radio" name="redio"  value="上部"/><span>上部</span>
                        <input type="radio" name="redio"  value="下部"/><span>下部</span>
                        <input type="radio" name="redio"  value="中部"/><span>中部</span>
                        <input type="radio" name="redio"  value="随便"/><span>随便</span>
                    </div>
                </section>
                <section class="other">
                    <p>
                        <i>8</i>/62 用灭火器灭火时，灭火器的喷射口是应对准火焰的什么部位？
                    </p>
                    <div>
                        <input type="radio" name="redio"  value="上部"/><span>上部</span>
                        <input type="radio" name="redio"  value="下部"/><span>下部</span>
                        <input type="radio" name="redio"  value="中部"/><span>中部</span>
                        <input type="radio" name="redio"  value="随便"/><span>随便</span>
                    </div>
                </section>
                <section class="other">
                    <p>
                        <i>9</i>/62 用灭火器灭火时，灭火器的喷射口是应对准火焰的什么部位？
                    </p>
                    <div>
                        <input type="radio" name="redio"  value="上部"/><span>上部</span>
                        <input type="radio" name="redio"  value="下部"/><span>下部</span>
                        <input type="radio" name="redio"  value="中部"/><span>中部</span>
                        <input type="radio" name="redio"  value="随便"/><span>随便</span>
                    </div>
                </section>
                <section class="other">
                    <p>
                        <i>10</i>/62 用灭火器灭火时，灭火器的喷射口是应对准火焰的什么部位？
                    </p>
                    <div>
                        <input type="radio" name="redio"  value="上部"/><span>上部</span>
                        <input type="radio" name="redio"  value="下部"/><span>下部</span>
                        <input type="radio" name="redio"  value="中部"/><span>中部</span>
                        <input type="radio" name="redio"  value="随便"/><span>随便</span>
                    </div>
                </section>
                <section class="other">
                    <p>
                        <i>11</i>/62 用灭火器灭火时，灭火器的喷射口是应对准火焰的什么部位？
                    </p>
                    <div>
                        <input type="radio" name="redio"  value="上部"/><span>上部</span>
                        <input type="radio" name="redio"  value="下部"/><span>下部</span>
                        <input type="radio" name="redio"  value="中部"/><span>中部</span>
                        <input type="radio" name="redio"  value="随便"/><span>随便</span>
                    </div>
                </section>
            </section>
        </article>
    </section>
    <footer class="page__ft">

    </footer>
</div>