
<!--重庆市两江新区糖尿病健康管理状态提示-->

<style type="text/css">
    .user-state .weui-panel{
        background:#f8f5ee;
    }
    .user-state .page__hd p{
        font-size:0.8rem;
        text-align:right;
    }
    .user-state .user_name{
        display:flex;
        line-height:2rem;
    }
    .user-state .user_name__show{
        flex:1;
        border:1px solid #ccc;
    }
    .user-state .user_name__tip{
        flex:1.5;
        border:1px solid #ccc;
    }
    .user-state .user_name__tip span,.weui-cell__compelet{
        font-size:0.8rem;
        color:#f00;
    }
    .user-state .weui-cell__link{
        font-size:0.5rem;
        color:#ccc;
    }
</style>
<div class="page gallery js_show user-state">
    <div class="page__hd">
        <h1 class="page__title"></h1>
        <p class="page__desc"></p>
        <p class="page__title">咨询热线 400-12345678</p>
        <div class="page__desc user_name">
            <div  class="user_name__show"><i>头像</i><span>userName</span> &gt;</div>
            <div class="user_name__tip"><i>糖尿病风险提示: </i><span>糖尿病前期</span></div>

        </div>
    </div>
    <div class="page__bd">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    轮播图效果
                    <img src="##" alt="">
                    <img src="##" alt="">
                </div>
               
            </div>
        </div>
        <div class="weui-cell weui-cell_access">
            <p>糖尿病筛查预防项目指引</p>
        </div>
        <div class="page__bd">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__bd">
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>信息调查 <span class="weui-cell__compelet">完成度<i>75%</i></span></p>
                        </div>
                        <span class="weui-cell__link">编辑</span>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>体格检测、眼项检测</p>
                        </div>
                        <span class="weui-cell__link">预约</span>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>等待基础筛查结果</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page__ft">
    </div>
</div>