

<!--基本信息-->
<div class="page user-info-detail">
    <header class="page__hd">
        <h1 class="page__title">名称</h1>
    </header>
    <section class="page__bd">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell ">
                <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text"  placeholder=""/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">性别</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="1">男</option>
                        <option value="2">女</option>
                        <option value="3">其他</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">民族</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" id="national" onclick="nation1();" name="select2">

                    </select>
                </div>
            </div>
            <div class="weui-cell ">
                <div class="weui-cell__hd"><label class="weui-label">籍贯</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder=""/>
                </div>

            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">身份证号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" placeholder=""/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">出生日期</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="date" class="weui-select" name="select2" />


                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">出生地</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="1">河北-石家庄</option>
                        <option value="2">河南-永城</option>
                        <option value="3">山东-烟台</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">婚姻状况</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="1">未婚</option>
                        <option value="2">已婚</option>
                        <option value="3">离异</option>
                        <option value="3">其他</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">文化程度</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="1">小学</option>
                        <option value="2">初中</option>
                        <option value="3">本科</option>
                        <option value="3">硕士</option>
                        <option value="3">博士</option>
                        <option value="3">其他</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">文化程度</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="1">农村</option>
                        <option value="2">城镇</option>
                        <option value="3">城市</option>
                        <option value="3">其他</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">职业</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="1">农民</option>
                        <option value="2">服务</option>
                        <option value="3">私营</option>
                        <option value="3">职员</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">收入状况</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="0"></option>
                        <option value="1">1500以下</option>
                        <option value="2">1500-3000</option>
                        <option value="3">3000-5000</option>
                        <option value="3">5000-1万</option>
                        <option value="3">1万-2万</option>
                        <option value="3">2万以上</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" placeholder=""/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell weui-cell_select weui-cell_select-after weui-cell-p">
                <p class="weui-cell__p" >重庆省重庆市两江新区</p>
                <div class="weui-cell__hd">

                    <label for="" class="weui-label">居住地址</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="1" class="weui-cell-place">请选择街道</option>
                        <option value="2">两江新区1</option>
                        <option value="3">两江新区2</option>
                        <option value="4">两江新区3</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell ">
                <div class="weui-cell__bd">
                    <input class="weui-input weui-cell-place" type="text"  placeholder="请填写小区名称楼号门牌等信息"/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>
            <div class="weui-cell  weui-cell_last">
            </div>
        </div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">确定</a>
        </div>
    </section>
    <footer class="page__ft">
    </footer>
</div>
<script type="text/javascript">

</script>
